/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002b70;
    padding: 15px 40px;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  
  .logo img {
    height: 50px;
    border-radius: 50%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-links li a:hover {
    color: black;
  }

  
  .contact-btn {
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
  
  /* Hero Section */
  .hero {
    position: relative;
    height: 90vh;
    background: url('Desktop\ -\ 8\ \(1\).png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: white;
    padding: 0 40px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin-left: 5%;
  }
  
  .hero-content h1 {
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .hero-content h3 {
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  .hero-content p {
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.5;
  }
  
  .cta-btn {
    background-color: white;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
  }
  
